@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  border-radius: 3px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  transition: 0.3s;
  background-color: #E0CDA9;
}

.glass:hover {
  box-shadow: 0 8px 32px 0 #E0CDA9;
  cursor: pointer;
}

.bar {
  position: absolute;
  z-index: 0;
  top : -50px;
  left: -10px;
  border:         none;
  border-left:    3px solid #E0CDA9;
  height:         75vh;
}

.clamp {
  width : clamp(300px, 960px, 960px);
}